# Pendahuluan

Pandemi COVID-19 telah mengubah kehidupan kita sehari-hari, mendorong banyak orang mencari hiburan melalui buku. Para startup di industri buku memanfaatkan peluang ini untuk mengembangkan aplikasi inovatif. Agar berhasil dalam bidang ini, kami akan menganalisis database untuk menginformasikan strategi penetapan harga dan pengembangan produk. Tugas kami mencakup mengidentifikasi rilis buku pasca tahun 2000, menganalisis ulasan dan penilaian pengguna, menentukan penerbit teratas, mengenali penulis terhormat, dan menilai durasi ulasan pengguna. Pendekatan berbasis data ini akan memandu kami dalam memenuhi tuntutan pembaca yang terus berubah di era COVID-19.

# Inisialisasi

In [1]:
# Impor library
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Menampilkan semua kolom
pd.set_option('display.max_columns', None)

pd.set_option('display.max_rows', 500)

# Lebar kolom max
pd.set_option('display.max_colwidth', None)

# Mengakses Database

In [3]:
db_config = {'user': 'practicum_student',                             # nama pengguna
             'pwd': 's65BlTKV3faNIGhmvJVzOqhs',                       # kata sandi
             'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
             'port': 6432,                                            # port koneksi
             'db': 'data-analyst-final-project-db'}                   # nama database

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                                     db_config['pwd'],
                                                                       db_config['host'],
                                                                       db_config['port'],
                                                                       db_config['db'])

engine = create_engine(connection_string, connect_args={'sslmode':'require'})

# Explore Table

In [4]:
query = """SELECT * FROM pg_catalog.pg_tables"""

In [5]:
df = pd.io.sql.read_sql(query, con = engine)

df[df['schemaname'] == 'public']

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
66,public,author,praktikum_student,None,True,False,False,False
67,public,second,praktikum_student,None,False,False,False,False
68,public,second_b,praktikum_student,None,False,False,False,False
69,public,advertisment_costs,praktikum_admin,None,True,False,False,False
70,public,authors,praktikum_admin,None,True,False,True,False
71,public,books,praktikum_admin,None,True,False,True,False
72,public,orders,praktikum_admin,None,True,False,False,False
73,public,publishers,praktikum_admin,None,True,False,True,False
74,public,ratings,praktikum_admin,None,True,False,True,False
75,public,reviews,praktikum_admin,None,True,False,True,False
76,public,visits,praktikum_admin,None,True,False,False,False

Terdapat 11 'tablename' pada 'schemaname' public. Pada penelitian ini 'tablename' yang digunakan adalah books, authors, publishers, ratings dan reviews.

## public.books

In [6]:
query = """
SELECT * 
FROM public.books
LIMIT 5
"""

In [7]:
pd.io.sql.read_sql(query, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope #1),322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before Columbus,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

**Informasi yang terdapat pada data public.books :**
- `book_id` — ID buku
- `author_id` — ID penulis
- `title` — judul buku
- `num_pages` — jumlah halaman
- `publication_date` — tanggal penerbitan
- `publisher_id` — ID penerbit

## public.authors

In [8]:
query = """
SELECT * 
FROM public.authors
LIMIT 5
"""

In [9]:
pd.io.sql.read_sql(query, con = engine)

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

**Informasi yang terdapat pada data public.authors :**
- `author_id` — ID penulis
- `author` — nama penulis

## public.publishers

In [10]:
query = """
SELECT * 
FROM public.publishers
LIMIT 5
"""

In [11]:
pd.io.sql.read_sql(query, con = engine)

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

**Informasi yang terdapat pada data public.publishers :**
- `publisher_id` — ID penerbit
- `publisher` — nama penerbit

## public.ratings

In [12]:
query = """
SELECT * 
FROM public.ratings
LIMIT 5
"""

In [13]:
pd.io.sql.read_sql(query, con = engine)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

**Informasi yang terdapat pada data public.publishers :**
- `rating_id` — ID rating
- `book_id` — ID buku
- `username` — nama pengguna yang memberi rating buku
- `rating` — nilai rating yang diberikan max 5

## public.reviews

In [14]:
query = """
SELECT * 
FROM public.reviews
LIMIT 5
"""

In [15]:
pd.io.sql.read_sql(query, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. Over provide race technology continue these.
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Among admit investment argue security.
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but person sport treatment industry. Kitchen decision deep the. Social party body the.
3,4,3,johnsonamanda,Finally month interesting blue could nature cultural bit. Prepare beat finish grow that smile teach. Dream me play near.
4,5,3,scotttamara,Nation purpose heavy give wait song will. List dinner another whole positive radio fast. Music staff many green.

**Informasi yang terdapat pada data public.reviews :**
- `review_id` — ID ulasan
- `book_id` — ID buku
- `username` — nama pengguna yang mengulas buku
- `text` — teks ulasan

## Kesimpulan

Terdapat 5 data yang akan digunakan pada penelitian ini dari 'schemaname' public :

1. **Informasi yang terdapat pada data public.books :**
- `book_id` — ID buku
- `author_id` — ID penulis
- `title` — judul buku
- `num_pages` — jumlah halaman
- `publication_date` — tanggal penerbitan
- `publisher_id` — ID penerbit

2. **Informasi yang terdapat pada data public.authors :**
- `author_id` — ID penulis
- `author` — nama penulis

3. **Informasi yang terdapat pada data public.publishers :**
- `publisher_id` — ID penerbit
- `publisher` — nama penerbit

4. **Informasi yang terdapat pada data public.publishers :**
- `rating_id` — ID rating
- `book_id` — ID buku
- `username` — nama pengguna yang memberi rating buku
- `rating` — nilai rating yang diberikan max 5

5. **Informasi yang terdapat pada data public.reviews :**
- `review_id` — ID ulasan
- `book_id` — ID buku
- `username` — nama pengguna yang mengulas buku
- `text` — teks ulasan

# Jumlah buku yang dirilis setelah tanggal 1 Januari 2000.

In [16]:
query = """
SELECT COUNT(*) AS n_books
FROM public.books
WHERE publication_date > '2000-01-01'
"""

In [17]:
pd.io.sql.read_sql(query, con = engine)

   n_books
0      819

Jumlah buku yang dirilis setelah tanggal 1 Januari 2000 adalah 819.

# Jumlah ulasan pengguna dan rating rata-rata untuk setiap buku.

In [33]:
query = """
SELECT books.title,
COUNT(DISTINCT(reviews.text)) AS n_reviews,
AVG(ratings.rating) AS avg_rating
FROM public.books
JOIN public.reviews on reviews.book_id = books.book_id
JOIN public.ratings on ratings.book_id = books.book_id
GROUP BY books.title
ORDER BY n_reviews DESC
"""

In [34]:
pd.io.sql.read_sql(query, con = engine)

,title,n_reviews,avg_rating
0,Memoirs of a Geisha,8,4.138462
1,Twilight (Twilight #1),7,3.662500
2,The Da Vinci Code (Robert Langdon #2),6,3.830508
3,The Road,6,3.772727
4,Harry Potter and the Prisoner of Azkaban (Harry Potter #3),6,4.414634
...,...,...,...
988,Naked Empire (Sword of Truth #8),1,3.500000
989,Moo Baa La La La!,1,3.000000
990,Merrick (The Vampire Chronicles #7),1,4.000000
991,Babyville,1,3.500000
992,Lysistrata,1,4.000000

Terdapat 993 buku yang diulas oleh pengguna.

# Identifikasi penerbit yang telah menerbitkan jumlah buku terbanyak, dengan jumlah halaman lebih dari 50

In [20]:
query = """
SELECT publishers.publisher,
SUM(books.num_pages) AS total_pages,
COUNT(books.title) AS n_books
FROM public.publishers
JOIN public.books ON publishers.publisher_id = books.publisher_id
GROUP BY books.publisher_id,
publishers.publisher_id
HAVING SUM(books.num_pages) > 50
ORDER BY COUNT(DISTINCT(books.title)) DESC
"""

In [21]:
pd.io.sql.read_sql(query, con = engine)

,publisher,total_pages,n_books
0,Penguin Books,15961,42
1,Vintage,10895,31
2,Grand Central Publishing,10631,25
3,Penguin Classics,12247,24
4,Bantam,8159,19
5,Ballantine Books,9495,19
6,Berkley,6623,17
7,Berkley Books,6832,14
8,St. Martin's Press,4112,14
9,HarperCollins,4032,13
10,Delta,6550,13
11,William Morrow Paperbacks,5120,13
12,Little Brown and Company,4856,12
13,Harper Perennial,3989,12
14,Tor Books,6933,11
15,Back Bay Books,4969,11
16,Vertigo,2063,10
17,Penguin,3569,10
18,Signet,4746,10
19,Mariner Books,3356,10
20,Pocket Books,5877,10
21,HarperTorch,4232,10
22,Washington Square Press,3584,9
23,Anchor Books,3234,9
24,Modern Library,3659,9
25,Simon Schuster,4151,9
26,Random House Trade Paperbacks,4480,9
27,Anchor,3322,9
28,Simon Pulse,3142,9
29,Dell Publishing Company,3576,8
30,Puffin Books,1200,7
31,Dover Publications,1067,7
32,Warner Books,3786,7
33,Scribner,2603,7
34,Dial Press,2408,7
35,HarperTrophy,2101,7
36,Harper Perennial Modern Classics,2092,6
37,Picador USA,2117,6
38,Plume,3076,6
39,Hachette Books,1703,6
40,Random House,2753,6
41,Signet Classics,2279,6
42,Broadway Books,2383,6
43,Black Dog & Leventhal Publishers,1527,6
44,Spectra,3124,6
45,NAL,1279,5
46,Square Fish,1021,5
47,Riverhead Books,1573,5
48,Oxford University Press,2394,5
49,HarperCollins Publishers,2228,5
50,William Morrow,1704,5
51,Arrow,3211,5
52,Corgi,1980,5
53,Vintage International,2003,5
54,Harper Voyager,2269,5
55,Vision,1864,5
56,Atria Books,2201,5
57,Ace,1932,4
58,Little Brown and Company,1476,4
59,DC Comics,821,4
60,VIZ Media LLC,891,4
61,Jove,2092,4
62,Alfred A. Knopf,1124,4
63,No Exit Press,1418,4
64,Grove Press,1089,4
65,Gallery Books,1083,4
66,Ace Books,1546,4
67,Del Rey,1545,4
68,HarperOne,957,4
69,Bantam Books,1462,4
70,Gramercy Books,1292,4
71,Scholastic Paperbacks,1229,4
72,Orbit,2600,4
73,Houghton Mifflin Harcourt,1190,4
74,Signet Book,1796,4
75,Amistad,888,3
76,Bantam Spectra,1304,3
77,Harper,980,3
78,Penguin Group (USA),792,3
79,Delacorte Press,825,3
80,Dell,2825,3
81,Berkley Hardcover,1056,3
82,Scholastic,3095,3
83,Scholastic Inc.,1957,3
84,Avon,2011,3
85,Dial Press Trade Paperback,2219,3
86,Simon & Schuster,2141,3
87,Avon Books,1134,3
88,Simon Schuster,903,3
89,St. Martin's Griffin,1797,3
90,Knopf Publishing Group,664,3
91,Ember,715,3
92,Vintage Books,792,3
93,G.P. Putnam's Sons,1119,3
94,Warner Books (NY),1034,3
95,Bantam Classics,890,3
96,Orion,1504,3
97,Touchstone Books,443,2
98,Norton,743,2
99,Turtleback Books,614,2
100,Doubleday Books,680,2
101,St. Martin's Paperbacks,752,2
102,Spectra Books,1045,2
103,Speak,595,2
104,Andrews McMeel Publishing,1664,2
105,Hyperion Books,836,2
106,Black Swan,742,2
107,Houghton Mifflin Company,626,2
108,Crown,717,2
109,Vintage Books USA,928,2
110,Houghton Mifflin,688,2
111,Millenium,448,2
112,Aladdin,464,2
113,Random House Books for Young Readers,136,2
114,Farrar Straus and Giroux,978,2
115,Del Rey Books,1213,2
116,Debolsillo,1290,2
117,Daw Books,928,2
118,W. W. Norton Company,665,2
119,Pocket,760,2
120,Free Press,756,2
121,W.W. Norton & Company (NYC),529,2
122,New English Library,839,2
123,Crossway Books,824,2
124,Plume Books,610,2
125,Griffin,1266,2
126,Yearling,230,2
127,Barnes Noble Classics,912,2
128,Harper Paperbacks,654,2
129,Harper Business,688,2
130,Penguin Books Ltd,760,2
131,Pantheon Books,346,2
132,Pantheon,521,2
133,Thomas Nelson,499,2
134,Knopf Books for Young Readers,320,2
135,Laurel Leaf,623,2
136,Ecco,579,2
137,Kingfisher,663,2
138,Candlewick Press,467,2
139,Random House: Modern Library,272,1
140,Red Fox,352,1
141,Riverhead Hardcover,336,1
142,Rizzoli,432,1
143,Roc,517,1
144,Rupa & Co,127,1
145,Sarah Crichton Books,229,1
146,Scholastic Books,232,1
147,Scholastic Press,453,1
148,Seal,368,1
149,See Sharp Press,335,1
150,Seuil,344,1
151,Severn House Publishers,301,1
152,Shadow Mountain,351,1
153,Shambhala,273,1
154,Simon & Schuster Paperbacks,751,1
155,Simon & Schuster Simon Pulse,370,1
156,Simon & Schuster; Media Tie-In edition,432,1
157,Simon and Schuster,403,1
158,Smithmark Publishers,332,1
159,Starfire,2088,1
160,Starscape,469,1
161,TIme Warner Books,461,1
162,Tarcherperigee,320,1
163,The Chicken House,635,1
164,Thorndike Press,530,1
165,Titan Books,104,1
166,Tom Doherty Tor Fantasy,1007,1
167,Top Shelf Productions,592,1
168,Tor,702,1
169,Tor Fantasy,780,1
170,Turtleback,283,1
171,Tyndale House Publishers,342,1
172,Vermilion,96,1
173,Victor Gollancz,454,1
174,Viking,461,1
175,Viking Adult,422,1
176,Vintage Classics,160,1
177,Vintage Contemporaries,283,1
178,Vintage Crime,231,1
179,Virago,351,1
180,Virago Press (UK),441,1
181,Voyager,278,1
182,W. W. Norton & Company,391,1
183,W.W. Norton & Company,320,1
184,Walker Books,192,1
185,Warne,72,1
186,Warners Visions Books,640,1
187,Wildside Press,324,1
188,William Morrow / HarperCollins / Harper Perennial,444,1
189,William Morrow; 1ST edition,291,1
190,Wordsworth Editions,339,1
191,Workman Publishing Company,992,1
192,Wyatt Book,343,1
193,Yale University Press,179,1
194,Yearling Books,292,1
195,Penguin Books /Penguin Classics,541,1
196,Ace Book,335,1
197,Ace Hardcover,442,1
198,Addison Wesley Publishing Company,76,1
199,Aladdin Paperbacks,192,1
200,Albin Michel,688,1
201,Alfred A. Knopf Books for Young Readers,183,1
202,Alfred A. Knopf Borzoi Books,357,1
203,Algonquin Books,335,1
204,Allen & Ulwin,416,1
205,Anchor Books/Knopf Doubleday Publishing Group,208,1
206,Applewood Books,210,1
207,Arrow Books,400,1
208,Arrow Books Ltd,144,1
209,Arthur A. Levine Books,128,1
210,Arthur A. Levine Books / Scholastic Inc.,341,1
211,Atheneum Books for Young Readers: Richard Jackson Books,208,1
212,BALLANTINE BOOKS,290,1
213,Baen Books,458,1
214,Ballantine Books (NY),422,1
215,Bantam Books Inc.,608,1
216,Bantam Doubleday Dell (NYC),246,1
217,Bantem Press,419,1
218,Barnes & Noble,394,1
219,Beacon Press,165,1
220,Berkley Publishing Group,294,1
221,Black Dog & Leventhal,352,1
222,Bloomsbury Academic,488,1
223,Bloomsbury Childrens Books,144,1
224,Bloomsbury Methuen Drama,336,1
225,Cambridge University Press,289,1
226,Canongate U.S.,198,1
227,Castle Books,703,1
228,Children's Classics,331,1
229,Citadel,288,1
230,City Lights,56,1
231,Clarkson Potter,256,1
232,Corgi Childrens,352,1
233,Crown Publishing Group (NY),463,1
234,DAW,1083,1
235,Dante University of America Press,140,1
236,David R. Godine Publisher,138,1
237,Delacorte Books,384,1
238,Dell Laurel-Leaf,339,1
239,Delta Publishing,288,1
240,Deodand,121,1
241,Devil's Due Publishing,358,1
242,Dial Books,364,1
243,Digireads.com,119,1
244,Disney Hyperion Books,375,1
245,Disney-Hyperion,452,1
246,Doubleday,594,1
247,Doubleday & Company Inc.,821,1
248,Dramatists Play Service,107,1
249,Dutton,348,1
250,Ecco/Harper Perennial,312,1
251,Eos,362,1
252,Everyman's Library,798,1
253,Faber Faber,461,1
254,Farrar Straus and Giroux (NY),616,1
255,Fourth Estate Paperbacks,653,1
256,Gallery / Saga Press,180,1
257,Gollancz,219,1
258,Green Integer,188,1
259,HJ Kramer,240,1
260,HMH Books for Young Readers,80,1
261,Hackett Publishing Company Inc.,132,1
262,Harcourt Inc.(Harvest Book),232,1
263,Harcourt Brace,439,1
264,Harper Trophy,329,1
265,HarperCollins Perennial,927,1
266,HarperCollins Publishers Ltd,170,1
267,HarperCollinsChildren’sBooks,62,1
268,HarperCollinsPublishers,184,1
269,HarperPerennial / Perennial Classics,288,1
270,HarperPrism,293,1
271,HarperTempest,325,1
272,Harpercollins Children's Books,64,1
273,Harpercollins Childrens Books,176,1
274,Hartorch,265,1
275,Harvard Business Review Press,240,1
276,Harvest Books,311,1
277,Headline Review,635,1
278,Health Communications Inc,331,1
279,Henry Holt and Co.,176,1
280,Hodder & Stoughton,288,1
281,Houghton Mifflin Co. (Boston/NY),374,1
282,Howard Publishing Co,418,1
283,Hyperion,196,1
284,Image Comics,304,1
285,Island,535,1
286,Jossey-Bass,227,1
287,Kensington,436,1
288,Knopf,433,1
289,LGF,411,1
290,La factoría de ideas,288,1
291,Leisure Books,447,1
292,Listening Library (Audio),61,1
293,Little Brown & Company,405,1
294,Marvel,248,1
295,McGraw-Hill Education,240,1
296,McSweeney's,475,1
297,Modern Library Classics,654,1
298,Mysterious Press,348,1
299,NAL Jam,239,1
300,Nelson Books,243,1
301,New English Library (Hodder & Stoughton),659,1
302,New Millennium Library,232,1
303,New World Library,229,1
304,Noonday Press,341,1
305,Oni Press,168,1
306,Onyx,480,1
307,Orchard Books,401,1
308,Orion Publishing Group,528,1
309,Owl Books (Henry Holt),240,1
310,Oxford University Press USA,128,1
311,Pan Childrens,178,1
312,Pearson,128,1
313,Pearson Longman,353,1
314,Penguin (Business),452,1
315,Penguin Books Limited,120,1
316,Penguin Books Ltd. (London),608,1
317,Penguin Classics Deluxe Editions,180,1
318,Penguin Signet,592,1
319,Perennial / William Morrow / HarperCollins,256,1
320,Perfection Learning,232,1
321,Plaza y Janes,480,1
322,Plaza y Janés,432,1
323,Pocket Books / Simon & Schuster Inc.,567,1
324,Pocket Star,356,1
325,Prestwick House - (Literary Touchstone Classic),75,1
326,Princeton University Press,352,1
327,Puffin,182,1
328,Putnam,391,1
329,Random House Anchor,227,1
330,Random House Audio Publishing Group,447,1
331,Random House Large Print Publishing,434,1
332,Random House Trade,333,1
333,Random House Vintage,348,1

Terdapat 333 penerbit yang menerbitkan dengan total jumlah halaman lebih dari 50. Penguin Books menduduki peringkat pertama dengan jumlah buku terbanyak yang dirilis (42).

# Identifikasi penulis dengan rating rata-rata buku tertinggi: temukan buku dengan rating minimal 50.

In [22]:
query = """
SELECT authors.author,
AVG(ratings.rating) AS avg_rating,
COUNT(ratings.rating) AS n_rating
FROM public.authors
JOIN public.books ON books.author_id = authors.author_id
JOIN public.ratings ON ratings.book_id = books.book_id
GROUP BY authors.author
HAVING COUNT(ratings.rating) > 50
ORDER BY COUNT(ratings.rating) DESC
"""

In [23]:
pd.io.sql.read_sql(query, con = engine)

                                                author  avg_rating  n_rating
0                           J.K. Rowling/Mary GrandPré    4.288462       312
1                                       J.R.R. Tolkien    4.240964       166
2                                      Stephenie Meyer    3.662500       160
3                                            Dan Brown    3.741259       143
4                                      Nicholas Sparks    3.882883       111
5                                         Stephen King    4.009434       106
6                                        J.D. Salinger    3.846939        98
7                                         Rick Riordan    4.130952        84
8                                         Jodi Picoult    3.881579        76
9              George Orwell/Boris Grabnar/Peter Škerl    3.729730        74
10                                      John Steinbeck    3.643836        73
11                                     William Golding    3.901408        71
12                                        John Grisham    3.971429        70
13  William Shakespeare/Paul Werstine/Barbara A. Mowat    3.787879        66
14                                          Lois Lowry    3.738462        65
15                                     James Patterson    3.859375        64
16                            Roald Dahl/Quentin Blake    4.209677        62
17                                     Sophie Kinsella    3.877193        57
18            Paulo Coelho/Alan R. Clarke/Özdemir İnce    3.789474        57
19                                       Arthur Golden    4.107143        56
20                                   Louisa May Alcott    4.203704        54
21                   Markus Zusak/Cao Xuân Việt Khương    4.264151        53
22                                     Agatha Christie    4.283019        53

Terdapat 22 penulis dengan jumlah rating yang diberikan pengguna diatas 50. 'J.K. Rowling/Mary GrandPré' menduduki posisi pertama dengan 312 jumlah rating yang diberikan.

# Jumlah rata-rata teks ulasan di antara pengguna yang memberi rating terhadap lebih dari 50 buku.

In [24]:
query = """
SELECT AVG(review_counts.avg_reviews) AS avg_n_reviews
FROM ( SELECT reviews.username, 
       COUNT(DISTINCT reviews.review_id) AS avg_reviews
       FROM public.reviews
       WHERE reviews.username IN (
          SELECT ratings.username
          FROM public.ratings
          GROUP BY ratings.username
          HAVING COUNT(DISTINCT ratings.book_id) > 50 )
       GROUP BY reviews.username )
    AS review_counts
"""

In [25]:
pd.io.sql.read_sql(query, con = engine)

   avg_n_reviews
0      24.333333

Rata-rata jumlah ulasan teks yang diberikan oleh pengguna yang memberikan rating kepada lebih dari 50 buku adalah 24,33 ulasan.

# Kesimpulan

Terdapat 5 data yang akan digunakan pada penelitian ini dari 'schemaname' public :

1. **Informasi yang terdapat pada data public.books :**
- `book_id` — ID buku
- `author_id` — ID penulis
- `title` — judul buku
- `num_pages` — jumlah halaman
- `publication_date` — tanggal penerbitan
- `publisher_id` — ID penerbit

2. **Informasi yang terdapat pada data public.authors :**
- `author_id` — ID penulis
- `author` — nama penulis

3. **Informasi yang terdapat pada data public.publishers :**
- `publisher_id` — ID penerbit
- `publisher` — nama penerbit

4. **Informasi yang terdapat pada data public.publishers :**
- `rating_id` — ID rating
- `book_id` — ID buku
- `username` — nama pengguna yang memberi rating buku
- `rating` — nilai rating yang diberikan max 5

5. **Informasi yang terdapat pada data public.reviews :**
- `review_id` — ID ulasan
- `book_id` — ID buku
- `username` — nama pengguna yang mengulas buku
- `text` — teks ulasan

**Hasil dari penelitian ini adalah :**

1. Jumlah buku yang dirilis setelah tanggal 1 Januari 2000 adalah 819.

2. Terdapat 993 buku yang diulas oleh pengguna.

3. Terdapat 333 penerbit yang menerbitkan buku dengan total jumlah halaman lebih dari 50. Penguin Books menduduki peringkat pertama dengan jumlah buku terbanyak yang dirilis (42).

4. Terdapat 22 penulis dengan jumlah rating yang diberikan pengguna diatas 50. 'J.K. Rowling/Mary GrandPré' menduduki posisi pertama dengan 312 jumlah rating yang diberikan.

5. Rata-rata jumlah ulasan teks yang diberikan oleh pengguna yang memberikan rating kepada lebih dari 50 buku adalah 24,33 ulasan.